destroy_table();

created_assignment = new_assignment("<%= @assignment.id %>", <%= @assignment.point_value %>, "<%= @assignment.assignment_type_id %>");
console.log(created_assignment);
assignments_array.push(created_assignment);

$('.datatable').attr('width', new_table_width());

var header_html = "<th class='assignment_header' align='left' id=<%=@assignment.id%>>";
header_html += "<span class='ui-icon-info hover_button' float='right' title='info'></span>";
header_html += "<p class='assignment-name' display='inline' padding='0' margin-top='0'>" + "<%=@assignment.name%>" + "</p></th>"

$(header_html).insertAfter($('.header_row th:last'));

var student_count=0;

var student_rows = $(".datatable .row_entry");
var length = student_rows.length;
var new_cell = $("<td align='center' class='grade_entry'></td>");
while(length--){
  $(student_rows[length]).append(new_cell.clone());
  student_count++;
}

initTable(student_count);

resize_datatable();
$('.dataTables_scroll .datatable').attr('style', "");
init_headers();

