grade_array = [];
<% @assignment.assignment_grades.each do |grade| %>
  grade_array.unshift('<%= grade.id %>');
<% end %>

oTable.fnDestroy();
$('.datatable').show();
$('.datatable').width(function(index, value){
  return value + 120;
})
$('tbody').attr('total_points', function(i, value){
  return parseInt(value) + <%= @assignment.point_value %>
});
$("<th width='150' class='sorting' align='center'><%= @assignment.name %></th>").insertAfter('thead th:last');
$('.datatable tbody tr').each(function(index, value){
  $(this).append("<td points=" + <%= @assignment.point_value %> + " align='center' id=" + grade_array.pop() + " width='150'></td>");
});
initTable(<%= @assignment.assignment_grades.count %>);