destroy_table();

visible_columns++;
new_assignment = new_assignment("<%= @assignment.id %>", <%= @assignment.point_value %>);
assignments_array.push(new_assignment);

$('.datatable').width(function(index, value){
  return value + 150;
})
//this is incredibly ghetto...we'll have to read to find where this damn thing is placed
$('.dataTables_scroll').attr('style', "");
$("<th class='assignment_header' id=<%=@assignment.id%>><%=@assignment.name%><img class='hover_button' align='right' src='/assets/exclm.png' title='hi' /></th>").insertAfter('thead th:last');

var student_count=0;
$('.datatable tbody tr').each(function(index, value){
  $(this).append("<td points=" + <%= @assignment.point_value %> + " align='center'  width='150'></td>");
  student_count++;
});
$('tbody').attr('cols', function(i, val){
  return parseInt(val) + 1;
});

$(".hover_button").not('.tt_init').tooltip(jeditable_dictionary);
$(".hover_button").not('.tt_init').addClass('tt_init');

initTable(student_count);
