:javascript
  $(document).ready(function() {
      //START OTHER STUFF
      add_new_input();
      add_manual_input();
      init_assignments_array(#{@assignments.to_json :only => [:_id, :point_value]});
      init_gradescale(#{@settings.grade_scale.grade_ranges.asc(:from).to_json :except => [:_id]}, "#{@settings.grade_scale.scale_type}", "#{@settings.grade_scale.id}");
    console.log(#{@students.count});
    var num_students = #{@students.count};
      
    _grading_options = ["DR", "EX", "IN"];
    $('#add_assignment_button').click(function(){
      openBox('/gradebooks/#{@course.id}/assignments', 350);
    });

    $('#edit_scale_button').click(function(){
      openBox('/gradebooks/grading_scale/#{@course.id}', 350);
    });

      initTable(#{@students.count});
      $('.dataTables_scroll .datatable').attr('style', "");
      $('.assignment_head .datatable').attr('style', "");
      $('.datatable .DTFC_Cloned').attr('style', "");
    //This is a dumb way to do it, but when we go back for performance, we can fix it


      if(grading_scale_method != "manual"){
        $('.dataTables_scrollBody .datatable tbody tr').each(function(){
          var grade = calculateGrade(this);
          apply_grade(this, grade);
        });
      }

      _focused_cell = null;

      document.addEventListener('click', click_block, true);
    

      init_headers();

      $("#ex_button").click(function(){
        misc_grades("EX");
      });

      $("#dr_button").click(function(){
        misc_grades("DR");
      });

      $("#in_button").click(function(){
        misc_grades("IN");
      });

      $("#submit-comment").click(function(){
        submit_comment();
      });

  }); 

  $(document).delegate(".ui-icon-info", "mouseover", function(){
    tooltip_init(this);
  });

  $(document).delegate(".grade_field", "keyup", function(){
    if(jeditable_validator($(this).val())){
      console.log("success");
    }
    else{
      $(this).val("");
    }
  });

%h1=@course.name
%input{:type => "button", :value => "Add Assignment", :class => "button", :id => "add_assignment_button"}
%input{:type => "button", :value => "Edit Scale", :class => "button", :id => "edit_scale_button"}
%div{:id => "gradebook_div"}
  %table{:id => "gradebook_display", :class=> "datatable", :width => "#{@assignments.count * 150}px"}
    %thead
      %tr{:class => "header_row"}
        %th{:width => 110} First Name
        %th{:width => 110} Last Name
        %th{:width => 100} Grade
        %span{:id => "assignment_names"}
          -@assignments.each do |assignment|
            %th{:class => "assignment_header", :value => assignment.point_value, :id => "#{assignment.id}", :align => "left"}
              %span{:class => "ui-icon-info hover_button", :float => "right", :title => "info"}
              %p{:class => "assignment-name", :padding => 0, :display => "inline"}=assignment.name

    %tbody{:grading_scale => GradebooksController::DEFAULT_SCALE.to_json, :assignment_data => (@assignments.to_json :only => [:_id, :assignment_type_id]), :students => (students_to_attr(@students))}
      -i=0
      -@students.each do |student|
        -if student.is_student?
          -id_string = student.id.to_s
          %tr{:class => "row_entry", :id => "#{student.id}", :num => i}
            %td{:width => 110}=student.first_name.capitalize
            %td{:width => 110}=student.last_name.capitalize
            -if @settings.grade_scale.scale_type == "manual"
              %td{:width => 100, :class => "grade", :align => "center"}=@settings.grade_scale.manual_grades[student.id.to_s]
            -else
              %td{:width => 100, :class => "grade", :align => "center"}="" 
            -@assignments.each do |assignment|
              -if current_assignment = assignment.grades[id_string]
                -if assignment.grades[id_string][0].is_a?(Numeric)
                  %td{:align => "center", :class => "grade_entry", :score => assignment.grades[id_string][0]}=number_to_percentage((assignment.grades[id_string][0].to_f / assignment.point_value) * 100, :precision => 2, :strip_insignificant_zeros => true)
                -else
                  -if assignment.grades[id_string][0] == :ungraded
                    -if assignment.grades[id_string][1] == :nocomment
                      %td{:align => "center", :class => "grade_entry"}=""
                    -else
                      %td{:align => "center", :class => "grade_entry", :comment => assignment.grades[id_string][1]}=""
                  -else
                    -if assignment.grades[id_string][1] == :nocomment
                      %td{:align => "center", :class => "grade_entry"}=assignment.grades[id_string][0]
                    -else 
                      %td{:align => "center", :class => "grade_entry", :comment => assignment.grades[id_string][1]}=assignment.grades[id_string][0]
              -else
                %td{:align => "center", :class => "grade_entry"}=""
            -i += 1
%div{:id => "dialogBox"}
%div{:id => "blackbox"}
%div{:id => "clearbox"}
%div{:class => "comment-tip"}
  %div{:id => "comment-box-text"}="Enter a comment"
  %textarea{:id => "comment-entry", :rows => 2, :cols => 17}
  %button{:id => "submit-comment"}="Submit"
%div{:class => "options-tip"}
  %button{:id => "ex_button"}="Excused" 
  %br
  %button{:id => "dr_button"}="Dropped"
  %br
  %button{:id => "in_button"}="Incomplete"