:javascript
  $(document).ready(function() {
      //START OTHER STUFF
      add_new_input();
      var scale = #{@settings.grade_scale.grade_ranges.to_json :except => [:_id]}
      //$('.datatable tbody tr').each(function(){
      //  calculateGrade(this, scale);
      //});
      //initTable(#{@students.count});
      $('.dataTables_scroll .datatable').attr('style', "");

      //init_keytable();
      
    initTable(#{@students.count});

    //init_keytable();

    $('#add_assignment_button').click(function(){
      openBox('/gradebooks/#{@course.id}/assignments', 350);
    });

    $('#edit_scale_button').click(function(){
      openBox('/gradebooks/grading_scale/#{@course.id}', 200);
    });

    /*
    var popup_content;
    $("img").tooltip({
      onBeforeShow: function(){
        var assignment_id = this.getTrigger().parent().attr('id');
        var url_string = '/assignments/' + assignment_id; 
        $.ajax({
          type: 'GET',
          async: false,
          url: url_string,
          dataType: "html",
          success: function(data){
            popup_content = data;
          }
        });
      },
      onShow: function(){
          $('.tooltip').html(popup_content);
        }
    });
    */

    $(".hover_button").hover(function(){
      alert("LOL");
    });

  }); 

%input{:type => "button", :value => "Add Assignment", :class => "button", :id => "add_assignment_button"}
%input{:type => "button", :value => "Edit Scale", :class => "button", :id => "edit_scale_button"}
%table{:id => "gradebook_display", :class=> "datatable", :width => "#{@assignments.count * 150}px"}
  %thead
    %tr{:class => "header_row"}
      %th{:width => 110} First Name
      %th{:width => 110} Last Name
      %th{:width => 50} Grade
      -i=3
      -@assignments.each do |assignment|
        %th{:align => "left", :width => 150, :height => 35}
          %span{:class => "assignment", :id => "#{assignment.id}", :col => i,  :value => assignment.point_value}
            =assignment.name
            =image_tag("exclm.png", {:class => "hover_button", :align => "right"})
            -i += 1

  %tbody{:grading_scale => GradebooksController::DEFAULT_SCALE.to_json, :assignment_data => (@assignments.to_json :only => [:_id, :assignment_type_id]), :cols => i}
    -@students.each do |student|
      -i=0
      -id_string = student.id.to_s
      %tr{:class => "row_entry", :id => "#{student.id}"}
        %td{:width => 110}=student.first_name.capitalize
        %td{:width => 110}=student.last_name.capitalize
        %td{:class => "grade_entry"}="" 
        -@assignments.each do |assignment|
          -if current_assignment = assignment.grades[id_string]
            -if assignment.grades[id_string][0] != :ungraded
              %td{:class => "grade_entry", :score => assignment.grades[id_string][0]}=assignment.grades[id_string][0]
            -else
              %td{:class => "grade_entry"}=""
          -else
            %td{:class => "grade_entry"}=""
          -i+=1

%div{:id => "dialogBox"}
%div{:id => "blackbox"}
%div{:id => "clearbox"}
