:javascript
  var oTable, keys;
  $(document).ready(function() {
      //START OTHER STUFF
      var scale = #{GradebooksController::DEFAULT_SCALE.to_json};
      $('.datatable tbody tr').each(function(){
        calculateGrade(this, scale);
      });
      initTable(#{@students.count});
      $('.dataTables_scroll .datatable').attr('style', "");


    $('#add_assignment_button').click(function(){
      openBox('/gradebooks/#{@course.id}/assignments', 350);
    });

    var popup_content;
    $("img").tooltip({
      onBeforeShow: function(){
        var assignment_id = this.getTrigger().parent().attr('id');
        var url_string = '/assignments/' + assignment_id; 
        $.ajax({
          type: 'GET',
          async: false,
          url: url_string,
          dataType: "html",
          success: function(data){
            popup_content = data;
          }
        });
      },
      onShow: function(){
          $('.tooltip').html(popup_content);
        }
    });

  }); 

-total_points = 0
%h1{:id => "course_name"}#{@course.name}   
%input{:type => "submit", :value => "Add Assignment", :class => "button", :id => "add_assignment_button"}
%table{:id => "test_table", :class=> "datatable", :cellpadding => 2, :cellspacing => 2, :width => "#{@assignments.count * 150}px"}
  %thead
    %tr{:id => "assignments"}
      %th{:width => 110, :height => 29} First Name
      %th{:width => 110, :height => 29} Last Name
      %th{:width => 50, :height => 29} Grade
      -i=3
      -@assignments.asc(:created_at).each do |assignment|
        %th{:align => "left", :width => 150, :height => 29}
          %span{:class => "assignment", :id => "#{assignment.id}", :col => i}
            =assignment.name
            =image_tag("exclm.png", {:align => "right", :class => "hover_button", :title => "pic"})
            -total_points += assignment.point_value
            -i += 1

  %tbody{:total_points => total_points, :grading_scale => GradebooksController::DEFAULT_SCALE.to_json, :cols => i}
    -@students.each do |student|
      -i=0
      -if student.is_student?
        %tr{:height => 30, :id => "#{student.id}"}
          %td{:width => 100}=student.first_name.capitalize
          %td{:width => 100}=student.last_name.capitalize
          %td{:align => "center", :width => 100, :class => "grade"}="" 
          -student.get_grades_for_course(@course.id).asc(:created_at).each do |grade|
            -if grade.graded
              %td{:width => 150, :id=> "#{grade.id}", :align => "center", :points => @assignments[i].point_value}=grade.value
            -else
              %td{:width => 150, :id=> "#{grade.id}", :align => "center", :points => @assignments[i].point_value}=""
            -i += 1

%div{:id => "dialogBox"}
%div{:id => "blackbox"}
%div{:id => "clearbox"}
