:javascript
  $(document).ready(function() {
      //START OTHER STUFF
      add_new_input();
      add_manual_input();
      init_assignments_array(#{@assignments.to_json :only => [:_id, :point_value]});
      init_gradescale(#{@settings.grade_scale.grade_ranges.asc(:from).to_json :except => [:_id]}, "#{@settings.grade_scale.scale_type}", "#{@settings.grade_scale.id}");
    console.log(#{@students.count});
    var num_students = #{@students.count};
      
    _grading_options = ["DR", "EX", "IN"];
    $('#add_assignment_button').click(function(){
      openBox('/gradebooks/#{@course.id}/assignments', 300);
    });

    $('#edit_scale_button').click(function(){
      openBox('/gradebooks/grading_scale/#{@course.id}', 350);
    });

      initTable(#{@students.count});
      //$('.dataTables_scroll .datatable').attr('style', "");
      //$('.assignment_head .datatable').attr('style', "");
      //$('.DTFC_Cloned .header_row th').attr('style', "");


      if(#{@students.count} > 0){
        if(grading_scale_method != "manual"){
          $('.dataTables_scrollBody .datatable tbody tr').each(function(){
            var grade = calculateGrade(this);
            apply_grade(this, grade);
          });
        }
      }

      _focused_cell = null;

      document.addEventListener('click', click_block, true);
    
      hide_filter_label();
      init_headers();

      $("#ex_button").click(function(){
        misc_grades("EX");
      });

      $("#dr_button").click(function(){
        misc_grades("DR");
      });

      $("#in_button").click(function(){
        misc_grades("IN");
      });

      $("#submit-comment").click(function(){
        submit_comment();
      });

  }); 

  $(document).delegate(".ui-icon-info", "mouseover", function(){
    tooltip_init(this);
  });

  $(document).delegate(".grade_field", "keyup", function(){
    if(jeditable_validator($(this).val())){
    }
    else{
      $(this).val("");
    }
  });

  $(document).delegate("#filter_text", "focus", function(){
    var text = $("#filter_text").value;
    if($("#filter_text").val() === "enter name to filter"){
      $("#filter_text").removeClass("filter_placeholder_text");
      $("#filter_text").val("");
    }

  });

  $(document).delegate("#filter_text", "blur", function(){
    if($("#filter_text").val() == ""){
      $("#filter_text").addClass("filter_placeholder_text");
      $("#filter_text").val("enter name to filter");
    }
  });

%button{:type => "button", :class => "button", :id => "add_assignment_button"}="Add Assignment"
%button{:type => "button", :class => "button", :id => "edit_scale_button"}="Edit Scale"
%br
%br
%br
%br
%br
%br
%br
%div{:id => "gradebook_div"}
  =render "students_table"
%div{:id => "dialogBox"}
%div{:id => "clearbox"}
%div{:id => "blackbox"}
%div{:class => "comment-tip"}
  %div{:id => "comment-box-text"}="Enter a comment"
  %textarea{:id => "comment-entry", :rows => 2, :cols => 17}
  %button{:id => "submit-comment"}="Submit"
%div{:class => "options-tip"}
  %button{:id => "ex_button"}="Excused" 
  %br
  %button{:id => "dr_button"}="Dropped"
  %br
  %button{:id => "in_button"}="Incomplete"
