:javascript
  $(document).ready(function() {
      //START OTHER STUFF
      add_new_input();
      init_assignments_array(#{@assignments.to_json :only => [:_id, :point_value]});
      init_gradescale(#{@settings.grade_scale.grade_ranges.asc(:from).to_json :except => [:_id]}, "#{@settings.grade_scale.scale_type}");
      
    _grading_options = ["DR", "EX", "IN"];
      //initTable(#{@students.count});
      //init_keytable();
    initTable(#{@students.count});
    $('.dataTables_scrollBody .datatable').attr('style', "");
    $('.assignment_head .datatable').attr('style', "");
    $('.datatable .DTFC_Cloned').attr('style', "");
    //This is a dumb way to do it, but when we go back for performance, we can fix it


    $('.dataTables_scrollBody .datatable tbody tr').each(function(){
      var grade = calculateGrade(this);
      apply_grade(this, grade);
    });

    $('#add_assignment_button').click(function(){
      openBox('/gradebooks/#{@course.id}/assignments', 350);
    });

    $('#edit_scale_button').click(function(){
      openBox('/gradebooks/grading_scale/#{@course.id}', 350);
    });

    $('#gradebook_display_filter').after($('#add_assignment_button')).after($('#edit_scale_button'));
    
    _focused_cell = null;

    //document.addEventListener('click', click_block, true);
    
    $(".ui-icon-info").tooltip(jeditable_dictionary);
    $(".ui-icon-info").not('.tt_init').addClass('tt_init');
    
    $(".ui-icon-info").removeClass("ui-icon-carat-2-n-s");
    $(".assignment-name").attr("margin-top", 0);
    $(".ui-icon-info").attr("style", "float: right; display: inline;");
    $(".DataTables_sort_icon").attr("style", "float: right;");

    $(".dataTables_scrollBody td").click(function(e){
      if(_focused_cell == this){
        //console.log(e.target);
      }
      else{
        _focused_cell && $(_focused_cell).children("form").submit();
        _current_tooltip && _current_tooltip.hide();
        _focused_cell = this;
        _focused_cell_pos = oTable.fnGetPosition(_focused_cell);
        $($(this).children("form").children()[0]).children()[0].focus();
      }
    });

    $("#ex_button").click(function(){
      misc_grades("EX");
    });

    $("#dr_button").click(function(){
      misc_grades("DR");
    });

    $("#in_button").click(function(){
      misc_grades("IN");
    });

    $("#submit-comment").click(function(){
      submit_comment();
    });
  }); 

%h1="DES"
%input{:type => "button", :value => "Add Assignment", :class => "button", :id => "add_assignment_button"}
%input{:type => "button", :value => "Edit Scale", :class => "button", :id => "edit_scale_button"}
%div{:id => "gradebook_div"}
  %table{:id => "gradebook_display", :class=> "datatable", :width => "#{@assignments.count * 150}px"}
    %thead
      %tr{:class => "header_row"}
        %th{:width => 110} First Name
        %th{:width => 110} Last Name
        %th{:width => 100} Grade
        -i=3
        %span{:id => "assignment_names"}
          -@assignments.each do |assignment|
            %th{:class => "assignment_header", :col => i, :value => assignment.point_value, :id => "#{assignment.id}", :align => "left"}
              %span{:class => "ui-icon-info hover_button", :float => "right", :title => "info"}
              %p{:class => "assignment-name", :padding => 0, :display => "inline"}=assignment.name
              -i += 1

    %tbody{:grading_scale => GradebooksController::DEFAULT_SCALE.to_json, :assignment_data => (@assignments.to_json :only => [:_id, :assignment_type_id]), :cols => i, :students => (students_to_attr(@students))}
      -@students.each do |student|
        -i=0
        -if student.is_student?
          -id_string = student.id.to_s
          %tr{:class => "row_entry", :id => "#{student.id}"}
            %td{:width => 110}=student.first_name.capitalize
            %td{:width => 110}=student.last_name.capitalize
            %td{:width => 100, :class => "grade"}="" 
            -@assignments.each do |assignment|
              -if current_assignment = assignment.grades[id_string]
                -if assignment.grades[id_string][0].is_a?(Numeric)
                  %td{:align => "center", :class => "grade_entry", :score => assignment.grades[id_string][0]}=number_to_percentage((assignment.grades[id_string][0].to_f / assignment.point_value) * 100, :precision => 2, :strip_insignificant_zeros => true)
                -else
                  -if assignment.grades[id_string][0] == :ungraded
                    %td{:align => "center", :class => "grade_entry"}=""
                  -else
                    %td{:align => "center", :class => "grade_entry"}=assignment.grades[id_string][0]
              -else
                %td{:align => "center", :class => "grade_entry"}=""
              -i+=1
%div{:id => "dialogBox"}
%div{:id => "blackbox"}
%div{:id => "clearbox"}
%div{:class => "comment-tip"}
  %div{:id => "comment-box-text"}="Enter a comment"
  %textarea{:id => "comment-entry", :rows => 2}
  %button{:id => "submit-comment"}="Submit"
%div{:class => "options-tip"}
  %button{:id => "ex_button"}="Excused" 
  %br
  %button{:id => "dr_button"}="Dropped"
  %br
  %button{:id => "in_button"}="Incomplete"