:javascript
  $(document).ready(function() {
      //START OTHER STUFF
      add_new_input();
      add_manual_input();
      init_assignments_array(#{@assignments.to_json :only => [:_id, :point_value, :assignment_type_id]});
      init_assignment_types(#{@settings.assignment_types.to_json}, "#{@settings.weight_type}");
      init_gradescale(#{@settings.grade_scale.grade_ranges.asc(:from).to_json :except => [:_id]}, "#{@settings.grade_scale.scale_type}", "#{@settings.grade_scale.id}");
      init_course_id(#{@course.id});
    var num_students = #{@students.count};
      init_student_names();
    _grading_options = ["DR", "EX", "IN"];
      initTable();
      $('.dataTables_scroll .datatable').attr('style', "");
      //$('.dataTables_scroll .databale').attr('width', assignments_array.length * 150);

      document.addEventListener('click', click_block, true);
      document.addEventListener('keydown', keyboard_block, true);
      teacher_gradebook();

      console.log("_types_array");
      if(#{@students.count} > 0){
        if(grading_scale_method != "manual"){
          $('.dataTables_scrollBody .datatable tbody tr').each(function(){
            var grade = calculateGrade(this);
            apply_grade(this, grade);
          });
        }
      }

      
  }); 

-if Rails.env.development?
  %br
  %br
  %br
  %br
  %br
  %br
  %br
%button{:type => "button", :class => "button", :id => "add_assignment_button"}="Add Assignment"
%button{:type => "button", :class => "button", :id => "edit_scale_button"}="Edit Scale"
%button{:type => "button", :class => "button", :id => "edit_weight_button"}="Edit Weighting"
%div{:id => "gradebook_div"}
  =render "students_table"
-if Rails.env.development?
  %div{:id => "dialogBox"}
  %div{:id => "clearbox"}
  %div{:id => "blackbox"}
%div{:class => "comment-tip"}
  %div{:id => "comment-box-text"}="Enter a comment"
  %textarea{:id => "comment-entry", :rows => 2, :cols => 17}
  %button{:id => "submit-comment"}="Submit"
%div{:class => "options-tip"}
  %div{:class => "options-button-div"}
    %button{:id => "ex_button", :class => "button"}="Excused" 
    %br
    %button{:id => "dr_button", :class => "button"}="Dropped"
    %br
    %button{:id => "in_button", :class => "button"}="Incomplete"
