-#columns = [{:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}]

-#columns = html_columns(@assignments.count + 1)

-#=datatable(columns, {:sort_by => "[0, 'desc']"})
:javascript
  $(document).ready(function() {
      initTable();

  $('#add_column').click(function() {
    oTable.fnDestroy();
    $('<th class="sorting">New</th>').insertAfter('th:last');
    $('.datatable tbody tr').each(function(){
      $(this).append("<td>1</td>");
    });
    initTable();
    oTable.fnDestroy();
    initTable();
  });

  $('#destroy').click(function() {
    oTable.fnDestroy();
  });

  $('#redraw').click(function() {
    $('<th class="sorting">New</th>').insertAfter('th:last');
    $('.datatable tbody tr').each(function(){
      $(this).append("<td>1</td>");
    });
  });


  function initTable()
  {
    oTable = $('.datatable').dataTable(
      {
      "iDisplayLength": #{@students.count},
      "bDestroy": true,
      "bAutoWidth": false
      
    });

    /*jEditable handlers are go */
    $('td', oTable.fnGetNodes()).editable('/submit_grade', {
      "callback" : function(value, settings) {
        var aPos = oTable.fnGetPosition(this);
        oTable.fnUpdate(value, aPos[0], aPos[1]);
      },
      "submitdata" : function(value, settings){
        return {
          "row_id": this.parentNode.getAttribute('id'),
          "column": oTable.fnGetPosition(this)[2]
        };
      },
      "height": "14px"
    });

  }
    }); 

%h1 #{@course.name}   
%input{:type => "submit", :value => "Add", :class => "button", :id => "add_column"}
%input{:type => "submit", :value => "Destroy", :class => "button", :id => "destroy"}
%input{:type => "submit", :value => "Redraw", :class => "button", :id => "redraw"}
%table{:class=> "datatable", :cellpadding => 2, :cellspacing => 2}
  %thead
    %tr{:id => "assignments"}
      %th{:width => 100} Name
      -@assignments.each do |assignment|
        %th{:width => 100}= assignment.name

  %tbody
    -@students.each do |student|
      -i=0
      -if student.is_student?
        %tr{:width => 100, :id => "#{student.id}"}
          %td= student.last_name.capitalize + ", " + student.first_name.capitalize
          -student.get_grades_for_course(@course.id).each do |grade|
            -if grade.graded
              %td{:width => 100, :id=> "#{grade.id}", :align => "center"}=grade.value
            -else
              %td{:width => 100, :id=> "#{grade.id}", :align => "center"}="-"
            -i+=1
            
